<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Monitor de colmenas AI</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Monitor de colmenas AI</h2>

    <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Detectar</button>
    </form>

    {% if error %}
      <p class="error">{{ error }}</p>
    {% endif %}

    <div class="legend">
        <h3>Resultados por clase</h3>
        <ul>
        {% for name, color in color_map.items() %}
            <li>
                <span class="color-box" style="background-color: {{ color }};"></span>
                <b>{{ name }}</b>
                {% if porcentajes and name in porcentajes %}
                    : {{ porcentajes[name] }}%
                {% else %}
                    : 0%
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>

    {% if img_path and orig_path %}
        <div class="image-box">
            <h4>Resultado de la detección</h4>
            <img src="{{ url_for('static', filename=img_path) }}">
        </div>
        <div class="image-box">
            <h4>Imagen original</h4>
            <img src="{{ url_for('static', filename=orig_path) }}">
        </div>
    {% endif %}
</body>
</html>



